* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: powderblue;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.form-group {
    display: flex;
    align-items: center;
}

label {
    width: 200px;
}

.hidden {
    display: none;
}

.building {
    position: relative;
}

.floors {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.elevators {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 100px;
    width: calc(100% - 100px * 2);
}

.floor {
    background-color: sienna;
    height: 200px;
    padding: 10px;
}

.floor__button-call-elevator {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-color: #b4b4b4;
}

.floor__button-call-elevator.active {
    background-color: #d24545;
}

.elevator {
    position: relative;
    background-color: aquamarine;
    height: 200px;
    width: 150px;
    bottom: 0;
    transition-property: bottom;
    transition-timing-function: ease-in-out;
}

.elevator__doors {
    position: absolute;
    left: 0;
    top: 0;
    background-color: burlywood;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: width 2s ease-in-out;
}

.elevator__doors.opened {
    width: 0;
}

.elevator__panel button {
    border-radius: 50%;
}

.elevator__button-select-floor.active {
    background-color: coral;
}